
<div class="panel-body" style="padding-left:80px; padding-right:80px;">
	<form name="myForm">
		<h1 class="title">Jarvis <span class="subtitle">Conta Ponto de Função</span></h1>
		<br>
		
		<div class="row">
			<div class="col-sm-10">
				<div class="form-group">
	
					<label class="control-label required" style="color: #747272;">Documento de Visuão</label>
					<div class="input-group">
						<input type="text" class="form-control search" ng-model="picFile.name" name="file"
							disabled placeholder="O arquivo deve estar no formato .txt">
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ngf-select
								ng-model="picFile" name="fileButton" ngf-pattern="'.txt'"
								ngf-accept="'.txt'">
								<span class="fa fa-search" />
							</button>
							<button class="btn btn-primary" ng-disabled="!myForm.$valid"
								ng-click="uploadPic(picFile)">Contar</button>
					</div>
				</div>
			</div>
		</div>

		<div>
			<table class="table">
				<thead>
					<tr>
						<th>Frase</th>
						<th>Tipo</th>
						<th>Pontuacao</th>
						<th>Confiança</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="x in funcoes">
						<td>{{ x.nome }}</td>
						<td>{{ x.tipo }}</td>
						<td>{{ x.pontuacao }}</td>
						<td>{{ x.confianca }}</td>
					</tr>
				</tbody>
			</table>

		</div>

	</form>
</div>