/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.form-control {
	background-color: #fff;
	border-color: #ccc;
	border-radius: 2px;
	box-shadow: none;
	font-size: 14px;
	height: 34px;
	line-height: inherit;
	margin-bottom: 25px;
}

.title{
	font-size: 30px;
	font-weight: bold;
	color: #747272;
	border-bottom: 1px solid #f0b50c;
	padding: 5px;		
}

.subtitle{
	font-size: 18px;
	font-style: italic;
	font-weight: bold;
	color: #747272;
}

.alta{
	border:1px solid #1b5003; 
	border-radius: 5px;
	padding:5px; 
	background-color: #f6fff2;
	color: #1b5003;
	width: 26px;
	text-align: center;
	
}

.media{
	border:1px solid #e8a715; 
	border-radius: 5px;
	padding:5px; 
	background-color: #fff4c6;
	color: #e8a715;
	width: 26px;
	text-align: center;
}

.baixa{
	border:1px solid #921212; 
	border-radius: 5px;
	padding:5px; 
	background-color: #f1e0e0;
	color: #921212;
	width: 26px;
	text-align: center;
}

.descarte{
	border:1px solid #949494; 
	border-radius: 5px;
	padding:5px; 
	background-color: #e6e6e6;
	color: #949494;
	width: 26px;
	text-align: center;	
}


.tachado{
	background-color: #efecec;
}